- if flash[:notice]
  p: b = flash[:notice]

h2 ステータスの編集

= render partial: 'shared/plan_description', locals: { plan: @reservation.plan, room: @reservation.room }

h2 予約の確定

p 以下のボタンをクリックすると予約が確定します。

= form_for [:host, @reservation] do |f|
  = f.submit '確定'
